<?xml version="1.0" encoding="GB2312"?><application>	<system_path>		<template>template</template>		<temp>temp</temp>		<cache>cache</cache>		<config>config</config>		<class>class</class>		<interface>interface</interface>		<include>include</include>	</system_path>	<databases>		<database type="MySQL" host="localhost" port="3306" username="root" password="" database="test"/>	</databases>	<pages cache="true"/>	<permission>		<user role="default" access="true">		</user>	</permission></application>